<html>
    <body>
        Welcome to User <%=name%>
        <a href="/logout">logout </a>

        <img src="files/<%=name%>.jpeg" width="100" height="100"/>

        <a href="/uploadfile">Upload pic</a>
    </body>
</html>